* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 255, 255, 0.295);
  height: 100vh;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#bookmark-container {
  width: 450px;
  height: 400px;
  /* border: 1px solid black; */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
#bookmark-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.103);
  padding: 10px 0;
  font-weight: 500;
  position: relative;
}
div > a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap !important;
  margin-left: 10px;
}
#savedLinks {
  padding: 10px;
  /* word-wrap: break-word; */
  overflow-y: auto;
  max-height: 340px;
  height: 100%;
}

.clearAllBtn {
  background-color: red;
  color: white;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: none;
}
#bookmarkClearAll {
  position: absolute;
  text-align: start;
  width: 100%;
}
.cancelEachBookmark {
  color: red;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  top: -2px;
}
.cancelEachBookmark:hover {
  transform: scale(1.3);
}
.cancelAndLinkContainer {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

a:hover {
  background-color: rgba(0, 0, 0, 0.123);
}
