* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-width: 350px;
  height: 100px;
  background-color: rgb(240 255 255);
}
#main {
  max-height: 500px;
  overflow-y: auto;
}

#openingButtons {
  display: flex;
}
#openingButtons > *,
.copyBtn,
.bookmarkBtn {
  margin: 10px;
  width: 100%;
  font-size: 20px;
  color: black;
  border: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  cursor: pointer;
  padding: 5px;
}

#buttonsContainer {
  display: flex;
  justify-content: space-between;
}
#buttonsContainer > * {
  width: 100%;
  font-size: 16px;
  margin: 10px;
}
.bookmarkIcon {
  margin-right: 5px;
  height: 18px;
  cursor: pointer;
}
.bookmarkIcon:hover {
  transform: scale(1.25);
}
li {
  margin: 5px 0;
}
li > a {
  white-space: nowrap;
}
.bookmarkLinkContainer {
  display: flex;
  align-items: center;
}
.bookmarkLinkContainer > a {
  text-decoration: none;
}
ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  margin-bottom: 10px;
}
#linkCount {
  font-weight: bold;
  margin: 10px;
}
